<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Problems</title>
</head>
<body>
<!-- ======= Header ======= -->
<th:block th:include="~{fragments/header}"></th:block>
<!-- End Header -->
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">
        <form th:action="@{/problems/__${problem.id}__}" th:object="${problemDtoUserSolution}" method="post"
              role="form">
            <div class="section-title">
                <h2>Solve the problem</h2>
                <b><h4 th:text="${problem.name}"></h4></b>
            </div>
            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <div class="col-md-12">
                            <b><p>Problem description:</p></b>
                            <p th:text="${problem.description}"></p>
                        </div>
                    </li>
                    <li data-aos="fade-up">
                        <div class="col-md-12">
                            <b><p>Your solution:</p></b>
                            <input th:field="*{userSolution}" class="col-md-12" type="text"/>
                        </div>
                    </li>
                </ul>
                <div class="col-md-6 form-group">
                    <span class="button">
                        <button class="btn btn-primary" type="submit">Submit solution</button>
                    </span>
                </div>
            </div>
            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <div class="col-md-12">
                            <p th:text="${solutionMessage}"></p>
                        </div>
                    </li>
                </ul>
            </div>
            <!--      Show solution???-->
            <!--            <div class="faq-list">-->
            <!--                <ul>-->
            <!--                    <li data-aos="fade-up">-->
            <!--                        <div class="row  collapsible">-->
            <!--                            <a data-toggle="collapse" class="col-md-9">Solution</a>-->
            <!--                        </div>-->
            <!--                        <div class="col-md-12 collapse">-->
            <!--                            <p th:text="${problem.solution}"></p>-->
            <!--                        </div>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </div>-->
            <div class="faq-list">
                <div class="col-md-12 form-group">
                    <a th:href="@{/problems}">Solve other problems</a>
                </div>
            </div>
        </form>
    </div>
</section><!-- End Frequently Asked Questions Section -->

<th:block th:include="~{fragments/footer}"></th:block>
<script src="/js/problemCollapse.js"></script>

</body>
</html>