<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Solve problems</title>
</head>
<body>
<!-- ======= Header ======= -->
<th:block th:include="~{fragments/header}"></th:block>
<!-- End Header -->
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Problem Solving</h2>
            <p>Select a challenge</p>
        </div>
        <div th:each="problem : ${problems}">
            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <div class="row  collapsible">
                            <a data-toggle="collapse" class="col-md-9" th:text="${problem.name}"></a>
                            <a class="col-md-3 btn btn-primary" id="solve" th:href="@{/problems/__${problem.id}__}">Solve problem</a>
                        </div>
                        <div class="col-md-12 collapse">
                            <p th:text="${problem.description}"></p>
                        </div>
                        <div class="col-md-12">
                            <p class="note" th:text="${problem.difficulty.value} + ', category: ' +
                            ${problem.category.name} + ', points: ' + ${problem.difficulty.points}"></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- End Frequently Asked Questions Section -->

<th:block th:include="~{fragments/footer}"></th:block>
<script src="/js/problemCollapse.js"></script>

</body>
</html>