<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Access Denied</title>
</head>
<body>
<!-- ======= Header ======= -->
<th:block th:include="~{fragments/header}"></th:block>
<!-- End Header -->

<section id="contact" class="contact">
    <div class="container">
        <div class="form">
            <div class="col-md-6 form-group">
                <h2 class="app-text-access"><b>Access Denied</b></h2>
                <h4 class="app-text-access"><b>You are not authorized to access this resource.</b></h4>
            </div>
            <br>
            <div class="form-row">
                <div class="col-md-3 form-group">
                    <span class="buttons">
                        <a th:href="@{/login}" id="btn">Login</a>
                    </span>
                </div>
                <div class="col-md-3 form-group">
                    <span id="buttons">
                        <a th:href="@{/register}" id="another-btn">Sign up</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>