<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Error</title>
</head>
<body>
<!-- ======= Header ======= -->
<th:block th:include="~{fragments/header}"></th:block>
<!-- End Header -->

<!-- ======= Contact Section ======= -->
<section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="container">

        <div class="row justify-content-md-center">
            <div id="errors">
                <div>
                    <h2><u>Error </u></h2>
                </div>
                <br>
                <h2 th:text="${message}">Error message</h2>
                <br>
                <h2 th:text="${statusCode}">404</h2>
                <br>
                <h1 th:text="${codeTitle}">Not found</h1>
                <br>
                <h3 th:text="${exception}"></h3>
            </div>

        </div>

    </div>
</section>

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>