<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Login</title>
</head>

<body>

<!-- ======= Header ======= -->
<th:block th:include="~{fragments/header}"></th:block>
<!-- End Header -->

<section id="contact" class="contact">
    <div class="container">
        <div class="form">
            <p>
                <i th:if="${param.error}" class="error">
                    Wrong username or password.
                </i>
                <i th:if="${param.logout}">
                    You have been logged out.
                </i>
            </p>
            <form th:action="@{/authenticate}" method="post" role="form" class="info-box">
                <div class="col-md-6 form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username"/>

                </div>
                <div class="col-md-6 form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"/>

                </div>
                <br>
                <div class="col-md-6 form-group row">
                    <div class="col-md-3 form-group">
                            <span class="button">
                                <button class="btn btn-primary" type="submit">Login</button>
                            </span>
                    </div>
                    <div class="col-md-3 form-group">
                            <span id="buttons">
                                <a th:href="@{/register}" id="another-btn">Sign up</a>
                            </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>

<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>