<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Register confirmation</title>
</head>
<body>
    <!-- ======= Header ======= -->
    <th:block th:include="~{fragments/header}"></th:block>
    <!-- End Header -->
    <br><br><br><br><br><br>
    <span id="register-successful">You have successfully activated your account!</span>
    <br><br><br>
    <div class="col-md-6 form-group">
        <span id="buttons">
            <a th:href="@{/login}" id="another-btn">Login</a>
        </span>
    </div>
    <br><br><br>
    <th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>