<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Register</title>
</head>
<body>
<!-- ======= Header ======= -->
<th:block th:include="~{fragments/header}"></th:block>
<!-- End Header -->

<!-- ======= Register Section ======= -->
<section id="contact" class="contact">
    <div class="container">
        <div class="form">
            <p>
                <i th:if="${error != null}" th:text="${error}" class="error"/>
            </p>
            <form th:action="@{/register}" th:object="${userDtoRegistration}" method="post" role="form" class="info-box">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <input th:field="*{username}" type="text" name="username" class="form-control" id="username" placeholder="Username">
                        <i class="error" th:errors="*{username}"></i>
                    </div>
                    <div class="col-md-6 form-group">
                        <input th:field="*{email}" type="text" class="form-control" name="email" id="email" placeholder="Email">
                        <i class="error" th:errors="*{email}"></i>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <input th:field="*{firstName}" type="text" name="first-name" class="form-control" id="first-name" placeholder="First name">
                        <i class="error" th:errors="*{firstName}"></i>
                    </div>
                    <div class="col-md-6 form-group">
                        <input th:field="*{lastName}" type="text" class="form-control" name="last-name" id="last-name" placeholder="Last name">
                        <i class="error" th:errors="*{lastName}"></i>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <input th:field="*{password}" type="password" class="form-control" placeholder="Password">
                        <i class="error" th:errors="*{password}"></i>
                    </div>
                    <div class="col-md-6 form-group">
                        <input th:field="*{passwordConfirmation}" type="password" class="form-control" placeholder="Confirm Password">
                        <i class="error" th:errors="*{passwordConfirmation}"></i>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <span class="button">
                            <button class="btn btn-primary" type="submit">Sign up</button>
                        </span>
                    </div>
                    <div class="col-md-6 form-group">
                        <span id="buttons">
                            <a th:href="@{/login}" id="another-btn">Login</a>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section><!-- End Register Section -->

<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>