<span lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link th:href="@{/img/favicon.png}" href="/static/img/favicon.png" rel="icon">
<link th:href="@{/img/apple-touch-icon.png}" href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/vendor/icofont/icofont.min.css}" href="/static/vendor/icofont/icofont.min.css" rel="stylesheet">
<link th:href="@{/vendor/boxicons/css/boxicons.min.css}" href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link th:href="@{/vendor/animate.css/animate.min.css}" href="/static/vendor/animate.css/animate.min.css" rel="stylesheet">
<link th:href="@{/vendor/venobox/venobox.css}" href="/static/vendor/venobox/venobox.css" rel="stylesheet">
<!--<link th:href="@{static/vendor/owl.carousel/assets/owl.carousel.min.css}" href="/static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">-->

<!-- Template Main CSS File -->
<link th:href="@{/css/style.css}" href="/static/css/style.css" rel="stylesheet">

<!-- =======================================================
* Template Name: Groovin - v2.2.0
* Template URL: https://bootstrapmade.com/groovin-free-bootstrap-theme/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->