<span lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a th:href="@{/}">Logically</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a th:href="@{/problems}">Problem solving</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a th:href="@{/users/profile}" sec:authorize="isAuthenticated()">My Profile</a></li>
                <li><a th:href="@{/users}" sec:authorize="hasAuthority('ROLE_ADMIN')">All Users</a></li>
                <li><a th:href="@{/login}" sec:authorize="!isAuthenticated()" id="login">Log in</a></li>
                <li><a th:href="@{/logout}" sec:authorize="isAuthenticated()">Log out</a></li>

            </ul>
        </nav><!-- .nav-menu -->

        <a th:href="@{/register}" sec:authorize="!isAuthenticated()" class="get-started-btn scrollto">Sign up</a>

    </div>
</header><!-- End Header -->
<br>
<br>
<br>
<br>
<br>
<br>
</span>

