<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Users</title>
</head>

<body>

<!-- ======= Header ======= -->
<th:block th:include="~{fragments/header}"></th:block>
<!-- End Header -->
<div class="col-sm-12">
    <section class="panel">
        <div th:if="${users.isEmpty()}">
            <header class="panel-heading">
                No Users
            </header>
        </div>
        <div th:unless="${users.isEmpty()}">
            <header class="panel-heading">
                Users
            </header>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Authority</th>
                <th>Score</th>
                <th>Problems</th>
                <th>Comments</th>
            </tr>
            </thead>
            <tbody>
            <div class="row" th:each="user : ${users}">
                <tr>
                    <td th:text="${user.userDetails.id}">1</td>
                    <td th:text="${user.userDetails.username}">violeta</td>
                    <td th:text="${user.userDetails.email}">v.dimitrova@yahoo.com</td>
                    <td th:text="${user.userDetails.firstName}">Violeta</td>
                    <td th:text="${user.userDetails.lastName}">Dimitrova</td>
                    <td th:if="${user.authorities.size()} > 1" th:text="${user.authorities.get(0).toString()} + ', ' +
                        ${user.authorities.get(1).toString()}"></td>
                    <td th:unless="${user.authorities.size()} > 1" th:text="${user.authorities.get(0).toString()}"></td>
                    <td th:text="${user.userDetails.score}">100</td>
                    <td>
                        <a th:href="@{/users/problems}" th:text="Problems"></a>
                    </td>
                    <td>
                        <a th:href="@{/users/comments}" th:text="Comments"></a>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </section>
</div>

<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>