<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Users</title>
</head>

<body>

<!-- ======= Header ======= -->
<th:block th:include="~{fragments/header}"></th:block>
<!-- End Header -->
<div class="col-sm-12">
    <section class="panel">
        <div th:if="${userProblems.isEmpty()}">
            <header class="panel-heading">
                No Users
            </header>
        </div>
        <div th:unless="${userProblems.isEmpty()}">
            <header class="panel-heading">
                Problems
            </header>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Constraints</th>
                <th>Solution</th>
                <th>Category</th>
                <th>Difficulty</th>
                <th>Points</th>
                <th>Status</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <div class="row" th:each="problem : ${userProblems}">
                <tr>
                    <td th:text="${problem.id}"></td>
                    <td th:text="${problem.name}"></td>
                    <td th:text="${problem.description}"></td>
                    <td th:text="${problem.constraints}"></td>
                    <td th:text="${problem.solution}"></td>
                    <td th:text="${problem.category.name}"></td>
                    <td th:text="${problem.difficulty.value}"></td>
                    <td th:text="${problem.points}"></td>
                    <td th:text="${problem.status.value}"></td>
                    <td>
                        <a th:href="@{/problems/__${problem.id}__}" th:text="Problem"></a>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </section>
</div>

<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>