<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <th:block th:include="~{fragments/head}"></th:block>
    <title>My profile</title>
</head>

<body>

<!-- ======= Header ======= -->
<th:block th:include="~{fragments/header}"></th:block>
<!-- End Header -->

<!-- ======= Register Section ======= -->
<section id="contact" class="contact">
    <div class="container">
        <div class="form">
            <form th:action="@{/users/profile}" th:object="${user}" method="get" role="form" class="info-box">
                <div th:if="${user.userDetails.picture} != null" class="form-row">
                    <img th:src="'data:image/jpeg;base64,' + ${imageUtils.getImgData(user.userDetails.picture)}" class="rounded-circle">
                </div>
                <div th:unless="${user.userDetails.picture} != null" class="form-row">
                    <img src="../img/userPic.png" class="rounded-circle">
                </div>
                <br>
                <br>
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label for="username">Username</label>
                        <span th:text="${user.username}" type="text" name="username" class="form-control" id="username"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="email">Email</label>
                        <span th:text="${user.userDetails.email}" type="text" class="form-control" name="email" id="email"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label for="first-name">First Name</label>
                        <span th:text="${user.userDetails.firstName}" type="text" name="first-name" class="form-control" id="first-name"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="last-name">Last Name</label>
                        <span th:text="${user.userDetails.lastName}" type="text" class="form-control" name="last-name" id="last-name"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label for="score">Score</label>
                        <span th:text="${user.userDetails.score}" type="text" class="form-control" id="score"></span>
                    </div>
                    <div th:if="${roles.size()} > 1" class="col-md-6 form-group">
                        <label for="role">Roles</label>
                        <span th:text="${roles.get(0).toString()} + ', ' + ${roles.get(1).toString()}" type="text" class="form-control" id="role"></span>
                    </div>
                    <div th:unless="${roles.size()} > 1" class="col-md-6 form-group">
                        <label for="role1">Roles</label>
                        <span th:each="role : ${roles}" th:text="${role.toString()}" type="text" class="form-control" id="role1"></span>
                    </div>
                </div>
                <div class="form-row" sec:authorize="hasAuthority('ROLE_USER') || hasAuthority('ROLE_MASTER')" >
                    <div class="col-md-6 form-group">
                        <br>
                        <a th:href="@{/users/problems}" class="form-control">My problems</a>
                    </div>
                    <div class="col-md-6 form-group">
                        <br>
                        <a th:href="@{/users/comments}" class="form-control">My comments</a>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <span class="button">
                            <a th:href="@{/users/edit}" class="btn btn-primary">Edit Profile</a>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section><!-- End Register Section -->

<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>